


<html>
    <head>
        <title>Movie Search App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                 <h1 align="center">Search</h1>
                    <form action="/results" method="get" align="center"> 
                        <input name="search" type="text" placeholder="search keyword" required>
                        <input class="btn btn-md btn-success" type = "submit">
                    </form>
            </div>
        </div>
    </body> 
</html>